*.cbp
*.exe
*.o
*.sample
*.uuid
*.config
/ege27/.git/HEAD
/ege27/.git/index
/ege27/.git/info/exclude
/ege27/.git/logs/HEAD
/ege27/.git/logs/refs/heads/master
/ege27/.git/refs/heads/master
/ege27/.git/smartgit/logcache/nodes3
/ege27/.git/COMMIT_EDITMSG
/ege27/.git/config
/ege27/.git/description
/ege27/.git/objects/4b/825dc642cb6eb9a060e54bf8d69288fbee4904
/ege27/.git/objects/ed/e6387d96bd4ea510737eaccb560f3095b1705b
*.depend
